/*reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/*desktop first ############################ */

/*utility*/

ul li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

.big-main-container {
    height: calc(100vh - 100px);display: flex;
}

/*left playlist*/

.left-playlist-bar {
    padding: 10px;
    background-color: cyan;
    width: 200px;
    
}

/*main part l'unica che deve avere una scroll bar*/

.category-bar-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.upgrade-top-bar {
    background-color: darkcyan;
    height: 50px;
}

.scrolling-section {
    padding: 10px;
}

.right-main-contenitor {
    background-color: cornflowerblue;
    width: calc(100vw - 200px);
    overflow-y: auto;
}

/*barra di riproduzione musicale*/

.bottom-play-bar {
    background-color: blue;
    height: 100px;
}