/*reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/*desktop first ############################ */

/*utility*/

.left-playlist-bar {
    font-weight: bold;
}

ul li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

.big-main-container {
    height: calc(100vh - 100px);
    display: flex;
}

/*left playlist*/

.playlist-bar h3 {
    color: white;
    font-size: 15px;
}

.playlist-bar ul {
    height: 250px;
    overflow-y: auto;
}

.btn-hover:hover {
    color: white;
    cursor: pointer;
}

ul li span:hover {
    color: white;
    cursor: pointer;
}

.left-playlist-bar a:hover {
    color: white;
    cursor: pointer;

}

.home-green {
    margin-left: -15px;
    padding-left: 13px;
    border-left: solid 3px greenyellow;
}

.profile-setting a {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

button {
    width: 30px;
    height: 30px;
    background-color: lightgrey;
    color: black;
    border: none;
}

li a {
    display: flex;
    align-items: center;

}

.installing-anchor {
    border-bottom: solid 1px lightgray;
}

.profile-setting img {
    height: 25px;
    width: 25px;
    background-color: lightgrey;
    border-radius: 50%;
}

.left-playlist-bar a,
.left-playlist-bar span {
    padding: 3px 0;
    font-size: 10px;
    color: lightgrey;
}

.left-playlist-bar .logo {
    width: 140px;
}

.search-navbar img {
    width: 30px;
}

.left-playlist-bar {
    overflow: hidden;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: lightgray;
    padding: 15px;
    background-color: black;
    width: 200px;

}

/*main part l'unica che deve avere una scroll bar*/

.responsive-logo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.border-radius-50 {
    border-radius: 50%;
}

.scrolling-section h5 {
    padding-top: 10px
}

.scrolling-section h6 {
    padding-bottom: 0;
}

.scrolling-section h2,
.scrolling-section h4 {
    color: white;
    padding: 20px 0;
}

.green-border {
    border-bottom: solid 2px greenyellow;
}

nav ul li a:hover {
    color: white
}

nav ul li a {
    color: lightgrey;
    font-weight: bold;
}

.upgrade-top-bar a {
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    align-self: baseline;
    padding: 10px;
    margin: 10px 5px;
}

.upgrade-top-bar a:hover {
    font-size: 1.05rem;
}

.category-bar-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card img:hover {
    opacity: 0.5;
}

.card a {
    display: inline-block;
    position: relative;
}

.card a i {
    z-index: 99;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card i:hover {
    color: red;
    display: none;
}

.card img {
    width: 100%;
    height: auto;
}

.card {
    text-align: center;
    color: white;
    flex: 1 1 150px;
    max-width: 150px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.upgrade-top-bar {
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    background: rgba(28, 11, 18, 0.5);
    height: 100px;
    position: sticky;
    top: 0;
}

.scrolling-section {
    padding: 10px;
}

.right-main-contenitor {
    font-size: 0.7rem;
    background-color: rgb(20, 25, 35);
    width: calc(100vw - 200px);
    overflow-y: auto;
}

.bottom-element span {
    padding-left: 10px
}

/*barra di riproduzione musicale*/

.control-bar i {
    margin: 0 20px
}

.time-bar span {
    padding: 0 20px;
    font-size: 8px;
}

.reproduction-bar {
    width: 35vw;
}

.volume-bar {
    width: 15%;
    display: flex;
    align-items: center;
}

.volume-bar-solid {
    height: 3px;
    width: 100%;
    background-color: lightgray;
    border-radius: 2px;
    position: relative;
}

.volume-bar-solid-part {
    height: 3px;
    width: 25%;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 0;
}

.volume-bar-solid-part:hover {
    background-color: yellowgreen;
    cursor: pointer;
}


.time-bar .solid-time-bar {
    height: 3px;
    width: 100%;
    background-color: lightgray;
    border-radius: 2px;
    position: relative;
}

.time-bar .solid-time-bar-part {
    height: 3px;
    width: 25%;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 0;
}

.time-bar .solid-time-bar-part:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.time-bar {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.right-play-now-item {
    color: lightgray;
    display: flex;
    align-items: center;
}

.right-play-now-item .fa-heart:hover,
.right-play-now-item .fa-folder:hover {
    color: white;
    cursor: pointer;
}

.left-play-now-item a {
    width: 50px;
}

.left-play-now-item {
    display: flex;
    align-items: center;
}

.playing-now {
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.playing-now img {
    width: 100%;
    height: auto;
}

.bottom-play-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 40);
    height: 100px;
    position: sticky;
    bottom: 0;
    padding: 0 10px;
    color: white;
}

.control-bar {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    width: 60px;
}

.b {
    padding-left: 10px;
}

.b h6 {
    color: lightgrey;
    font-size: 8px;
}

.b h6:hover {
    color: white;
    cursor: pointer;
}

.volume-bar i {
    margin-right:20px;
}

/*@@@@@@@@@@@@@@@@@552x1095@@@@@@@@@@@@@@@@@*/

@media only screen and (max-width: 552px) {

    .a img {
        display: none;
    }

    .responsive-logo {
        display: block;
    }

    .left-playlist-bar {
        width: 60px;
    }

    .right-main-contenitor {

        width: calc(100vw - 60px);
    }

    span,
    .playlist-bar,
    .logo {
        display: none;
        border-bottom: none;
    }

    .bottom-element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-play-now-item .b {
        position: absolute;
    }

    .right-play-now-item {
        display: block;

    }
}