/*reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/*desktop first ############################ */

/*utility*/

.left-playlist-bar {
    font-weight: bold;
}

ul li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

.big-main-container {
    height: calc(100vh - 100px);
    display: flex;
}

/*left playlist*/

.playlist-bar:hover {
    color: white;
    cursor: pointer;

}

.left-playlist-bar a:hover {
    color: white;
    cursor: pointer;

}

.home {
    border-left: solid 3px greenyellow;
}

.profile-setting a {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

button {
    width: 30px;
    height: 30px;
    background-color: lightgrey;
    color: black;
    border: none;
}

li a {
    display: flex;
    align-items: center;

}

.installing-anchor {
    border-bottom: solid 1px lightgray;
}

.profile-setting img {
    height: 25px;
    width: 25px;
    background-color: lightgrey;
    border-radius: 50%;
}

.left-playlist-bar a {
    color: lightgrey;
}

.left-playlist-bar .logo {
    width: 140px;
}

.search-navbar img {
    width: 30px;
}

.left-playlist-bar {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: lightgray;
    padding: 15px;
    background-color: black;
    width: 200px;

}

/*main part l'unica che deve avere una scroll bar*/

.upgrade-top-bar a {
    display: flex;
    justify-content: flex-end;
    margin: 29px;
    padding: 9px;
    color: white;
    border: solid 2px white;
    border-radius: 20px;
}

.category-bar-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.upgrade-top-bar {
    background: rgba(20, 25, 35, 0.5);
    height: 100px;
    position: sticky;
    top: 0;
}

.scrolling-section {
    padding: 10px;
}

.right-main-contenitor {
    background-color: rgb(20, 25, 35);
    width: calc(100vw - 200px);
    overflow-y: auto;
}

/*barra di riproduzione musicale*/

.bottom-play-bar {
    background-color: blue;
    height: 100px;
}


/*@@@@@@@@@@@@@@@@@552x1095@@@@@@@@@@@@@@@@@*/

@media only screen and (max-width: 552px) {
    .left-playlist-bar {
        width: 60px;
    }

    .right-main-contenitor {
    
    width: calc(100vw - 60px);
    }
   
    span, .playlist-bar {
        display: none;
        border-bottom: none;
    }

    .bottom-element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}